.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  font-size: calc(28px + 2vmin);
  color: white;
  width: 100%;
  justify-content: center;
  padding: 0em;
}

.SearchBarContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.SearchBar{
  display: flex;
  position: relative;
  justify-content: center;
}

input:focus ~ .FloatingLabel,
input:not(:focus):valid ~ .FloatingLabel{
  top: -2em;
  bottom: -1em;
  left: 1em;
  font-size: .9em;
  opacity: 1;
}

input{
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 20em;
  border-radius: .4em;
  color: white;
  font-size: 1.2em;
  padding: .2em .7em; 
}

.FloatingLabel {
  color: rgba(252, 252, 252, 0.4);
  position: absolute;
  pointer-events: none;
  left: 1em;
  top: .5em;
  transition: 0.2s ease all;
}

.SearchIcon {
  position: absolute;
  right: 1em;
  top: .15em;
  font-size: 1.5em;
  color: rgba(252, 252, 252, 0.4);
}

.FlagsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 4em;
  justify-content: space-evenly;
}

.Flag {
  display: flex;
  flex-direction: column;
  margin: .35em;
  font-size: 7em;
  align-content: center;
  align-items: center;
  max-width: 100%
}

.CountryName {
  display: flex;;
  color: white;
  font-size: .13em;
}