.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  display: flex;
  font-size: calc(28px + 2vmin);
  color: white;
  width: 100%;
  justify-content: center;
  padding: 1em;
}

.FlagsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.Flag {
  display: flex;
  margin: .5em;
  font-size: 5em;
}